<div *ngIf="mostrarPopup" class="popup-sucesso">
  Senha redefinida com sucesso!
</div>

<div class="profile-container">
  <!-- Coluna esquerda -->
  <div class="profile-sidebar">
    <!-- Foto + nome -->
    <div class="profile-photo-card">
      <div class="photo-placeholder"></div>
      <div class="name">Lucas Tri Nascimento</div>
    </div>
  </div>

  <!-- Coluna direita -->
  <div class="profile-content">
    <div class="password-card">
      <h2>Alteração de Senha</h2>

      <div class="form-col full">
        <label for="senha1">Digite sua nova senha</label>
        <div class="input-wrapper">
          <input id="senha1" [type]="showSenha1 ? 'text' : 'password'" [(ngModel)]="senha1" [disabled]="formDisabled"
            placeholder="Senha" />
          <button type="button" class="toggle-olho" (click)="showSenha1 = !showSenha1">
            <span class="material-symbols-outlined">
              {{ showSenha1 ? 'visibility_off' : 'visibility' }}
            </span>
          </button>
        </div>
      </div>

      <div class="form-col full">
        <label for="senha2">Digite novamente</label>
        <div class="input-wrapper">
          <input id="senha2" [type]="showSenha2 ? 'text' : 'password'" [(ngModel)]="senha2" [disabled]="formDisabled"
            placeholder="Senha" />
          <button type="button" class="toggle-olho" (click)="showSenha2 = !showSenha2">
            <span class="material-symbols-outlined">
              {{ showSenha2 ? 'visibility_off' : 'visibility' }}
            </span>
          </button>
        </div>
        <div *ngIf="senha2.length > 0 && !senhasIguais" class="erro">
            As senhas não coincidem! Favor verificar
          </div>
      </div>

      <div class="password-rules">
        <p>Por motivos de segurança, escolha uma senha forte que contenha:</p>
        <ul>
          <li [class.valido]="tem8caracteres" [class.invalido]="!tem8caracteres">
            Pelo menos 8 caracteres
          </li>
          <li [class.valido]="temMaiusculaMinuscula" [class.invalido]="!temMaiusculaMinuscula">
            Letras maiúsculas e minúsculas
          </li>
          <li [class.valido]="temNumeroEspecial" [class.invalido]="!temNumeroEspecial">
            Números e caracteres especiais(@, #, &, *, etc)
          </li>
        </ul>
      </div>

      <button class="confirm-btn" [disabled]="!formValido() || formDisabled" (click)="confirmar()">
        Redefinir Senha
      </button>
    </div>
